{% extends "base.html" %}
{% load static %}
{% block content %}
 <div align="center">
    <img src = {% static 'pictures/aboutus.png' %}>
        <br>
        <h1>Meet Cloudini!</h1><br>
         <h4>
        Cloudini allows you to redefine and enforce your policies, this way we:<br>
        - Save cloud resources aligned and compliant<br>
        - Save money<br>
        - Save time and humanity resources<br>
        - Improve security<br>
        - Simplify cloud operations<br>
        <br><br>
        Cloudini do the hard work for you – it’s not a dashboard that shows you what needs to be done – it’s doing<br>
        <br><br>
         <i><b>
        Cloudini - Let us do the MAGIC!
        </b></i>
        </h4>
 </div>
{% endblock content %}